/* 

Project Name: My First Site
Client: Shay Youngblood
Author: Shay Youngblood
Developed in Monroe, GA

*/

body {
	background: url('../images/color-tile.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	
}

#container {
	background: #AEBFB1;
	width: 420px;
	color: #F2F2E9;
	padding: 20px;


}

h1 {
	font-size: 70px;
	

}

h2 {
	background: #D9C7A7;
	color: #8C8279;
	padding: 5px;
	border-radius: 5px;
	font-weight: bolder;
}

h3 {
	color: #8C8279;
}

a {
	color: #75c1f6;
	text-decoration: none;
	padding: 3px;

}